<div class="social-list my-3">
<ul class="list-unstyled mb-0 text-start">
{% if site.data.socials.email %}
<li class="mb-2">
<a href="#" onclick="window.location.href='mailto:'+'valerio.rizzi'+'@'+'unige.ch'; return false;" class="text-decoration-none">
<i class="fa-solid fa-envelope fa-fw me-2"></i>valerio.rizzi [at] unige.ch
</a>
</li>
{% endif %}

{% if site.data.socials.scholar_userid %}
<li class="mb-2">
<a href="https://scholar.google.com/citations?user={{ site.data.socials.scholar_userid }}" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="ai ai-google-scholar fa-fw me-2"></i>Google Scholar
</a>
</li>
{% endif %}

{% if site.data.socials.orcid_id %}
<li class="mb-2">
<a href="https://orcid.org/{{ site.data.socials.orcid_id }}" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="ai ai-orcid fa-fw me-2"></i>ORCID
</a>
</li>
{% endif %}

<li class="mb-2">
<a href="https://www.webofscience.com/wos/author/rid/GXA-0661-2022" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="ai ai-researcherid fa-fw me-2"></i>Web of Science
</a>
</li>

{% if site.data.socials.scopus_id %}
<li class="mb-2">
<a href="https://www.scopus.com/authid/detail.uri?authorId={{ site.data.socials.scopus_id }}" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="ai ai-scopus fa-fw me-2"></i>Scopus Profile
</a>
</li>
{% endif %}

{% if site.data.socials.research_gate_profile %}
<li class="mb-2">
<a href="https://www.researchgate.net/profile/{{ site.data.socials.research_gate_profile }}/" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="ai ai-researchgate fa-fw me-2"></i>ResearchGate
</a>
</li>
{% endif %}

{% if site.data.socials.github_username %}
<li class="mb-2">
<a href="https://github.com/{{ site.data.socials.github_username }}" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="fa-brands fa-github fa-fw me-2"></i>GitHub
</a>
</li>
{% endif %}

{% if site.data.socials.linkedin_username %}
<li class="mb-2">
<a href="https://www.linkedin.com/in/{{ site.data.socials.linkedin_username }}" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="fa-brands fa-linkedin fa-fw me-2"></i>LinkedIn
</a>
</li>
{% endif %}

{% if site.data.socials.x_username %}
<li class="mb-2">
<a href="https://twitter.com/{{ site.data.socials.x_username }}" target="_blank" rel="external nofollow noopener" class="text-decoration-none">
<i class="fa-brands fa-x-twitter fa-fw me-2"></i>X (Twitter)
</a>
</li>
{% endif %}
</ul>
</div>
